body{
  background-color: #c5b5e1 !important;
}

.container {
  display: block;
  margin: auto;
  width: 40%;
}
.left {
  float: left;
  right: 100%;
	top: 50%;
	height: 0;
	width: 0;
	position: fixed;
}
.right {
  float: right;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  position: fixed;
	margin-left: -26.8px;
}

h1, p{
  color: #fff4fd !important;
}

h1 {
  font-family: 'Leckerli One', cursive !important;
  font-size: 100px !important;
  text-align: center;
}

p {
  font-family: 'Hind', sans-serif !important;
  font-size: 18px;
}

img {
  display: block;
  margin: auto;
  width: 40%
}
