body{
  background-color: #c5b5e1 !important;
}

.right {
  float: right;
  left: 90%;
  top: 50%;
  height: 0;
  width: 0;
  position: fixed;
	margin-left: -26.8px;
}
.left {
  float: left;
  right: 90%;
	top: 50%;
	height: 0;
	width: 0;
	position: fixed;
}

img{
  padding-top: 40px;
  padding-left: 150px;
  margin: 20px;
}


h1, h3, p, li{
  color: #292828 !important;
  text-align: center;
}

h1 {
  font-family: 'Cardo';
  font-size: 100px;
  text-align: center;
  margin: 50px;
}

h3 {
  font-family: 'Cardo', sans-serif;
  font-size: 60px;
}

p{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
}

li{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
}

.nav{
  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav_li{
  float: left;
}

.nav_li a{
  display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav_li a:hover:not(.active) {
    background-color: #111;
}

#brand{
  color: white;
}
