body{
  background-color: #c5b5e1 !important;
}

.container {
  display: block;
  margin: auto;
  width: 40%;
}
.left {
  float: left;
  right: 90%;
	top: 50%;
	height: 0;
	width: 0;
	position: fixed;
}
.right {
  float: right;
  left: 90%;
  top: 50%;
  height: 0;
  width: 0;
  position: fixed;
	margin-left: -26.8px;
}

h1, p{
    color: #292828 !important;
}

h1 {
  font-family: 'Cardo' !important;
  font-size: 90px !important;
  text-align: center;
}

p {
  font-family: 'Josefin Sans';
  font-size: 26px;
  text-align: center;
  margin-top: 10% !important;
  margin-left: 22% !important;
  margin-right: 20% !important;
  width: 55%
}

img {
  margin-top: 10% !important;
  display: block;
  margin: auto;
  width: 40%
}
