body{
  background-color: #c5b5e1 !important;
}
.right {
  float: right;
  left: 90%;
  top: 50%;
  height: 0;
  width: 0;
  position: fixed;
  margin-left: -26.8px;
}
.left {
  float: left;
  right: 90%;
	top: 50%;
	height: 0;
	width: 0;
	position: fixed;
}

h1, p{
  color: #292828 !important;
}

h1 {
  font-family: 'Leckerli One', cursive !important;
  font-size: 90px !important;
  text-align: center;
  margin: 50px;
  margin-top: 40px;
}

#heading {
  margin-bottom: 20%;
  margin-top: 40px;
}

.pic {

}

p{
  font-family: 'Hind', sans-serif !important;
  font-size: 26px;
  text-align: center;
  margin-top: 14.8% !important;
  margin-left: 20%;
  margin-right: 20%;
}
