body {
  background-color: #c5b5e1 !important;
}

.right {
  float: right;
  left: 90%;
  top: 50%;
  height: 0;
  width: 0;
  position: fixed;
	margin-left: -26.8px;
}

.left {
  float: left;
  right: 90%;
	top: 50%;
	height: 0;
	width: 0;
	position: fixed;
}

h1, h3, p, li, ul {
  color: #292828 !important;
}

#treatment,#causes,#symptoms {
  text-align: center;
  margin: auto;
}

h1 {
  font-family: 'Cardo';
  font-size: 95px;
  text-align: center;
  margin: 35px;
  margin-top: 6%;
}

h3 {
  font-family: 'Cardo';
  font-size: 75px;
}

p, li{
  font-family: 'Josefin Sans';
  font-size: 26px;
}

.nav{
  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4B3B40;
}

.li_nav{
  float: left;
}

.li_nav a{
  font-family: 'Cardo';
  font-size: 15px;
  display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.li_nav a:hover:not(.active) {
    background-color: #111;
    color: white;
}

#brand{
  color: white;
}

.paragraph {
  width: 70%;
  margin-left: 15%;

}

img {
  display: block;
  margin: auto;
}
