body{
  background-color: #c5b5e1 !important;
}

img{
  display: block;
  margin: auto;
  width: 40%;
  padding-top: 30px;
}
h3 {
  font-family: 'Amaranth', sans-serif ;
  font-size: 60px;
}

h1, h3, p{
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
  color: #212529 !important;
}
p {
  font-family: 'Hind', sans-serif ;
  font-size: 18px;
}
h1 {
  font-family: 'georgia', serif ;
  font-size: 100px;
}
.right {
  float: right;
  left: 80%;
  top: 50%;
  height: 0;
  width: 0;
  position: fixed;
  margin-left: -26.8px;
}
.left {
  float: left;
  right: 80%;
	top: 50%;
	height: 0;
	width: 0;
	position: fixed;
}
