body{
  background-color: #c5b5e1 !important;
}

.right {
  float: right;
  left: 90%;
  top: 50%;
  height: 0;
  width: 0;
  position: fixed;
	margin-left: -26.8px;
}
.left {
  float: left;
  right: 90%;
	top: 50%;
	height: 0;
	width: 0;
	position: fixed;
}
.id {


}
