body {
  background-color: #c5b5e1 !important;
}

.right {
  float: right;
  left: 90%;
  top: 50%;
  height: 0;
  width: 0;
  position: fixed;
	margin-left: -26.8px;
}

.left {
  float: left;
  right: 90%;
	top: 50%;
	height: 0;
	width: 0;
	position: fixed;
}

h1, ul, li {
  color: #241f26 !important;
}

h1 {
  font-family: 'Cardo';
  font-size: 100px;
  text-align: center;
  margin: 5%;
}

ul, li {
  font-family: 'Josefin Sans';
  font-size: 19px;
}

.fade {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

  .fade:hover {
    opacity: 0.5;
  }

.thumbnail {
}

.nav{
  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4B3B40;
}

.li_nav{
  float: left;
}

.li_nav a{
  font-family: 'Cardo';
  font-size: 15px;
  display: block;
    color: #818D92;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.li_nav a:hover:not(.active) {
    background-color: #111;
    color: #818D92;
}

#brand{
  color: white;
}
