body{
  background-color: #c5b5e1 !important;
}

h1, p{
  color: #292828 !important;
}

h1 {
  font-family: 'Leckerli One', cursive !important;
  font-size: 100px !important;
  text-align: center;
}

p{
  font-family: 'Hind', sans-serif;
  font-size: 26px;
  text-align: center;
  margin-top: 10% !important;
  margin-left: 22% !important;
  margin-right: 20% !important;
  width: 55%
}

img{
  display: block;
  margin: auto;
  margin-top: 10%;
}
.right {
  float: right;
  left: 90%;
  top: 50%;
  height: 0;
  width: 0;
  position: fixed;
	margin-left: -26.8px;
}
.left {
  float: left;
  right: 90%;
	top: 50%;
	height: 0;
	width: 0;
	position: fixed;
}
